:root {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	justify-content: stretch;
}

#container {
	display: grid;
	width: 100%;
}

#container,
#header,
#content,
#footer,
#header-photo,
#about,
#header-title,
#header-description,
#header-links,
#title,
#work,
.project,
.photo,
.info,
.top,
.name,
.github,
.link,
.description,
#contact,
#contact-title,
#contact-info,
#contact-note,
#phone,
#email,
#contact-links,
#footer-photo,
.project-image {
	border: solid;
	border-width: 1px;
	align-content: stretch;
	justify-content: stretch;
	display: grid;
	margin: 5px;
	padding: 5px;
}

#header {
	grid-template-columns: 1fr 1.5fr;
}

#header-photo {
	grid-column-start: 1;
	justify-content: center;
	align-content: center;
	max-width: 400px;
}

#about {
	grid-column-start: 2;
	grid-template-rows: 0fr 0fr 0fr;
	justify-items: center;
	align-items: center;
}

#header-title {
	grid-row-start: 1;
	font-weight: bold;
	font-size: 16pt;
}

#header-description {
	grid-row-start: 2;
}

#header-links {
	grid-row-start: 3;
}

#content {
	grid-template-rows: 0fr 0fr;
}

#title {
	grid-row-start: 1;
	justify-content: center;
	font-weight: bold;
	font-size: 16pt;
}

#work {
	grid-row-start: 2;
	grid-template-rows: repeat(1fr, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.project {
	grid-template-rows: 3fr 1fr;
	padding: 0px;
}

.photo {
	grid-row-start: 1;
	justify-items: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.info {
	grid-row-start: 2;
	grid-template-rows: 0fr 0fr;
}

.top {
	grid-row-start: 1;
	grid-template-columns: 6fr 1fr 1fr;
	padding: 0;
}

.name {
	grid-column-start: 1;
	font-weight: bold;
	font-size: 14pt;
	margin: 0;
}

.github {
	grid-column-start: 2;
}

.link {
	grid-column-start: 3;
}

.description {
	grid-row-start: 2;
}

#footer {
	grid-template-columns: 1fr 0.75fr;
}

#contact {
	grid-column-start: 1;
	grid-template-rows: 0fr 0fr;
}

#contact-title {
	grid-row-start: 1;
	font-weight: bold;
	font-size: 16pt;
}

#contact-info {
	grid-row-start: 2;
	grid-template-rows: 0fr 0fr 0fr 0fr;
}

#contact-note {
	grid-row-start: 1;
}

#phone {
	grid-row-start: 2;
}

#email {
	grid-row-start: 3;
}

#contact-links {
	grid-row-start: 4;
}

#footer-photo {
	grid-column-start: 2;
	justify-items: center;
}

.project-image {
	max-width: 90%;
}

#ryan-photo {
	max-width: 100%;
}

#family-photo {
	max-width: 100%;	
}
