:root {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	display: grid;
	background-color: black;
	width: 100vw;
}

#container {
	display: grid;
}

#container,
#header,
#content,
#footer,
#header-photo,
#about,
#header-title,
#header-description,
#header-links,
#title,
#work,
.project,
.photo,
.info,
.top,
.name,
.github,
.link,
.description,
#contact,
#contact-title,
#contact-info,
#contact-note,
#phone,
#email,
#contact-links,
#footer-photo,
.project-image,
#git-info,
#email-info,
#phone-info,
#github-footer,
#email-footer,
#phone-footer,
#github-icon,
#email-icon,
#phone-icon {
	align-content: stretch;
	justify-content: stretch;
	display: grid;
	margin: 5px;
	padding: 5px;
}

#header {
	background-color: #e5d08f;
}

#title {
	color: #e1dfdf;
}

#content {
	background-color: black;
}

.project {
	background-color: #e1dfdf;
	color: black;
}

#footer {
	background-color: #e3d4b6;
}

#header,
#footer,
.project {
	border: solid;
	border-width: 1px;
	border-radius: 10px;
}

#content,
#work,
.project {
	margin-left: 0px;
	margin-right: 0px;
}

#work {
	padding: 0px;
	gap: 20px;
}

#header {
	grid-template-columns: 1fr 1.5fr;
}

#header-photo {
	grid-column-start: 1;
	justify-content: center;
	align-content: center;
	max-width: 400px;
}

#about {
	grid-column-start: 2;
	grid-template-rows: 0fr 0fr 0fr;
	justify-items: center;
	align-content: center;
}

#header-title {
	grid-row-start: 1;
	font-weight: bold;
	font-size: 20pt;
}

#header-description {
	grid-row-start: 2;
	max-width: 300px;
	text-align: center;
}

#header-links {
	grid-row-start: 3;
	display: grid;
}

#content {
	grid-template-rows: 0fr 0fr;
	background-color: black;
	color: white;
}

#title {
	grid-row-start: 1;
	justify-content: center;
	font-weight: bold;
	font-size: 18pt;
	padding: 20px;
}

#work {
	grid-row-start: 2;
	grid-template-rows: repeat(1fr, 1fr);
	grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

.project {
	grid-template-rows: 5fr 1fr;
	padding: 0px;
}

.photo {
	grid-row-start: 1;
	justify-items: center;
	align-items: center;
	margin: 0px;
	padding: 0px;
}

.info {
	grid-row-start: 2;
	grid-template-rows: 0fr 0fr;
}

.top {
	grid-row-start: 1;
	grid-template-columns: 5fr 1fr 1fr;
	padding: 0;
}

.name {
	grid-column-start: 1;
	font-weight: bold;
	font-size: 14pt;
	margin: 0;
	align-items: center;
}

.github {
	grid-column-start: 2;
	margin: 0;
	justify-items: center;
	align-items: center;
}

.link {
	grid-column-start: 3;
	margin: 0;
	justify-items: center;
	align-items: center;
}

.description {
	grid-row-start: 2;
}

#footer {
	grid-template-columns: 1fr 1fr;
}

#contact {
	grid-column-start: 1;
	grid-template-rows: 0fr 0fr;
}

#contact-title {
	grid-row-start: 1;
	font-weight: bold;
	font-size: 16pt;
	padding-left: 13px;
}

#contact-info {
	grid-row-start: 2;
	grid-template-rows: 0fr 0fr 0fr 0fr;
}

#contact-note {
	grid-row-start: 1;
}

#phone {
	grid-row-start: 2;
}

#email {
	grid-row-start: 3;
}

#contact-links {
	grid-row-start: 4;
}

#contact-links,
#email,
#phone {
	grid-template-columns: 0fr 1fr;
	gap: 4px;
}

.project-image {
	max-width: 90%;
}

#ryan-photo {
	max-width: 100%;
}

#family-photo {
	max-width: 100%;
	min-width: 200px;
}

.github-logo {
	width: 60px;
}

#github-footer,
#email-footer,
#phone-footer {
	grid-column-start: 1;
	margin: 0;
}

#git-info,
#email-info,
#phone-info {
	grid-column-start: 2;
	align-items: center;
}

#phone-icon,
#email-icon,
#github-icon {
	width: 30px;
}

#footer-photo {
	grid-column-start: 2;
	justify-items: center;
}

.icons {
	width: 50px;
}
